#keyboard {
  width: 100%;
  text-align: center;
}

#body {
  background-color: #000000;
  font-weight: normal;
}

.title {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-family: verdana;
}

